services:
  smbwebclient:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./.env:/app/.env
      - ./cache:/app/cache
    environment:
      - SERVER_NAME=:80
    restart: unless-stopped

  samba1:
    image: dperson/samba:latest
    restart: unless-stopped
    hostname: samba1
    environment:
      - NETBIOSNAME=samba1
    volumes:
      - ./smb-share1:/share
    expose:
      - "139"
      - "445"
    command:
      - -u
      - "user;pass"
      - -s
      - "SHARE1;/share;yes;no;yes"
      - -p

  samba2:
    image: dperson/samba:latest
    restart: unless-stopped
    hostname: samba2
    environment:
      - NETBIOSNAME=samba2
    volumes:
      - ./smb-share2:/share
    expose:
      - "139"
      - "445"
    command:
      - -u
      - "user;pass"
      - -s
      - "SHARE2;/share;yes;no;yes"
      - -p
